/* custom.scss */
//code added by Raghuvaran
.toggle_btn {
    position: relative;
}
#nav-drawer{
    padding-top: 5px;
    .list-group {
        margin-top: 39px;
    }
}
div[data-region="drawer-toggle"] {
    button.btn.pull-xs-left.m-r-1.btn-secondary {
        position: absolute;
        right: -10px;
        background-color: #232323;
        @include hover-focus {
            outline: none;
        }
    }
    button.btn.pull-xs-left.m-r-1.btn-secondary span[aria-hidden="true"]{
            color: #fff;
    }
}
//Code added for Quick Links Navigation
#nav-drawer .list-group {
    width: 100%;
        a.list-group-item {
        padding: 5px 5%;
        width: 100%;
        float: left;
        cursor: pointer;
        i.fa {
            padding-left: 0px;
            margin-right: 10px;
            font-size: 22px;
            color: #fff;
            text-shadow: none;
            min-width: 30px;
            margin: auto;
            float: left;
        }
        div.m-l-0 {
            display: inherit;
            float: left;
            font-weight: 600;
            font-size: 14px;
            text-shadow: none;
            line-height: 25px;
            font-weight: 300;
        }
    }
}
#nav-drawer.closed .list-group {
    a.list-group-item {
        padding: 5px 2%;
        float: left;
        width: 96%;
        div.m-l-0 {
            display: none;
            font-weight: 600;
            font-size: 14px;
            text-shadow: none;
        }
        i.fa {
            float: right;
            text-align: center;
            -webkit-transition: 0.8s ease-out;
            -moz-transition: 0.8s ease-out;
            transition: 0.8s ease-out;
        }
    }
    a.list-group-item:hover {
        div.m-l-0 {
            display: inherit;
            position: absolute;
            left: 100%;
            top: 0px;
            background-color: #303030;
            z-index: 3;
            padding: 3px 10px 3px 10px;
            font-size: 14px !important;
            text-shadow: none;
            width: 200px;
            color: #fff;
            text-align: left;
            font-weight: 300;
            text-transform: uppercase;
        }
        i.fa {
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }
    }
}
//Code ends for Quick Links Navigation

//Code added for social links
#page-footer .social_imgs {
        float: right;
        padding: 20px 25px;
    }
    ul.social_bookmarks {
        list-style-type: none;
        margin: 0px;
        li.social-link {
            display: inline;
            padding: 10px;
            border-radius: 20px;
        }
        li.social-link.twitter:hover {
            background-color: #46D4FE;
        }
        li.social-link.facebook:hover {
            background-color: #0070a8;
        }
        li.social-link.youtube:hover {
            background-color: #A72B1D;
        }
        li.social-link.linkedin:hover {
            background-color: #419CCA;
        }
        li.social-link.instagram:hover {
            background-color: #419CCA;
        }
    }
    
// Code ends here for social links
@media (min-width:768px) {
    body {
        margin-left: 50px;
    }
    body.notloggedin {
        margin-left: inherit;
    }
}
@media (min-width:768px) {
    body#page-my-index section#region-main.col-md-8 {
        width: 66.66667%;
    }
    body#page-my-index section.hidden-print.col-md-4 {
        width: 33.33333%;
    }
}

// code added by rizwana
#page-footer a.social_icon {
    color: #fff;
}
.social-facebook.active, .social-facebook:active {
    background-color: #2d4373;
}
.social-facebook:focus, .social-facebook:hover {
    background-color: #4c70ba;
}
.social-facebook {
    background-color: #3b5998;
}
.social-twitter {
    background-color: #55acee;
} 
.social-twitter.active, .social-twitter:active {
    background-color: #2795e9;
}
.social-twitter:focus, .social-twitter:hover {
    background-color: #83c3f3;
}
.social-linkedin {
    background-color: #0976b4;
}
.social-linkedin.active, .social-linkedin:active {
    background-color: #075683;
}
.social-linkedin:focus, .social-linkedin:hover {
    background-color: #0b96e5;
}
.social-youtube {
    background-color: #b31217;
}
.social-youtube.active, .social-youtube:active {
    background-color: #850d11;
}
.social-youtube:focus, .social-youtube:hover {
    background-color: #e1171d;
}
.social-instagram{
    background-color:#fb3958;
}
.social-instagram.active, .social-instagram:active {
    background-color: #850d11;
}
.social-instagram:focus, .social-instagram:hover {
    background-color: #e1171d;
}