/* custom.scss */
//code added by Raghuvaran
.toggle_btn {
    position: relative;
}
#nav-drawer{
    padding-top: 5px;
    .list-group {
        margin-top: 39px;
    }
}
div[data-region="drawer-toggle"] {
    button.btn.pull-xs-left.m-r-1.btn-secondary {
        position: absolute;
        right: -10px;
        background-color: transparent;
        border: 1px solid #ccc;
        right: 5px;
        margin-right: 0px !important;
        @include hover-focus {
            outline: none;
            border: 1px solid #ccc;
        }
    }
    button.btn.pull-xs-left.m-r-1.btn-secondary span[aria-hidden="true"]{
            color: #fff;
    }
}
#nav-drawer nav.list-group.m-t-1 .list-group-item {
    float: left;
    width: 100%;
}
nav.list-group.m-t-1{
    margin-top: 0px !important;
}
//Code added for Quick Links Navigation
#nav-drawer .list-group {
    width: 100%;
    float:left;
        a.list-group-item {
        padding: 5px 5%;
        width: 100%;
        float: left;
        cursor: pointer;
        border: none;
        background-color: inherit;
        border-top: 1px solid #484848;
        i.fa {
            padding-left: 0px;
            margin-right: 10px;
            font-size: 22px;
            color: #fff;
            text-shadow: none;
            min-width: 30px;
            margin: auto;
            float: left;
        }
        div.m-l-0, div.m-l-1 {
            display: inherit;
            float: left;
            font-weight: 600;
            font-size: 14px;
            text-shadow: none;
            line-height: 25px;
            font-weight: 300;
            width:85%;
            margin-left: 0px !important;
        }
    }
}
#nav-drawer.closed .list-group {
    a.list-group-item {
        padding: 5px 5%;
        float: left;
        width: 100%;
        div.m-l-0, div.m-l-1 {
            display: none;
            font-weight: 600;
            font-size: 14px;
            text-shadow: none;
        }
        i.fa {
            float: right;
            text-align: center;
            //-webkit-transition: 0.8s ease-out;
            //-moz-transition: 0.8s ease-out;
            //transition: 0.8s ease-out;
        }
    }
    a.list-group-item:hover {
        background-color: #303030;
        div.m-l-0, div.m-l-1 {
            display: inherit;
            position: absolute;
            left: 100%;
            top: 0px;
            background-color: #303030;
            z-index: 3;
            padding: 2px 10px 3px 10px;
            font-size: 14px !important;
            text-shadow: none;
            width: 200px;
            color: #fff;
            text-align: left;
            font-weight: 300;
            text-transform: uppercase;
            border-top: 1px solid #303030;
            max-height: 31px;
            overflow: hidden;
        }
        //i.fa {
        //    -webkit-transform: rotateY(180deg);
        //    -moz-transform: rotateY(180deg);
        //    transform: rotateY(180deg);
        //}
    }
    a.list-group-item:last-child:hover {
        div.m-l-0, div.m-l-1 {
            padding: 3px 10px 3px 10px;  
        }
    }
}
#nav-drawer .list-group .list-group-item {
    float: left;
    width: 100%;
    color: #fff;
    background-color: transparent;
    border: none;
    border-top: 1px solid #484848;
}
#nav-drawer.closed .list-group .list-group-item {
    float: left;
    width: 100%;
    padding: 5px 2%;
}
//Code ends for Quick Links Navigation

//Code added for social links
#page-footer .social_imgs {
        float: right;
        padding: 10px 0px;
    }
    ul.social_bookmarks {
        list-style-type: none;
        margin: 0px;
        li.social-link {
            display: inline;
            padding: 10px;
            border-radius: 20px;
        }
        li.social-link.twitter:hover {
            background-color: #46D4FE;
        }
        li.social-link.facebook:hover {
            background-color: #0070a8;
        }
        li.social-link.youtube:hover {
            background-color: #A72B1D;
        }
        li.social-link.linkedin:hover {
            background-color: #419CCA;
        }
        li.social-link.instagram:hover {
            background-color: #419CCA;
        }
    }
    
// Code ends here for social links
@media (min-width:768px) {
    body {
        margin-left: 50px;
    }
    body.notloggedin, body#page-login-index {
        margin-left: inherit;
    }
}
@media (min-width:768px) {
    body#page-my-index section#region-main.col-md-8 {
        width: 66.66667%;
    }
    body#page-my-index section.hidden-print.col-md-4 {
        width: 33.33333%;
    }
}

// code added by rizwana
ul.social_links {
    list-style-type: none;
    margin:0px;
    padding:0px;
        li.social_linklist {
            display: inline;
            padding: 1px;
        }
}
#page-footer a.social_icon {
    color: #fff;
    padding: 5px;
    width: 35px;
    height: 35px;
    font-size: 20px;
}
.social-facebook.active, .social-facebook:active {
    background-color: #2d4373;
}
.social-facebook:focus, .social-facebook:hover {
    background-color: #4c70ba;
}
.social-facebook {
    background-color: #3b5998;
}
.social-twitter {
    background-color: #55acee;
} 
.social-twitter.active, .social-twitter:active {
    background-color: #2795e9;
}
.social-twitter:focus, .social-twitter:hover {
    background-color: #83c3f3;
}
.social-linkedin {
    background-color: #0976b4;
}
.social-linkedin.active, .social-linkedin:active {
    background-color: #075683;
}
.social-linkedin:focus, .social-linkedin:hover {
    background-color: #0b96e5;
}
.social-youtube {
    background-color: #b31217;
}
.social-youtube.active, .social-youtube:active {
    background-color: #850d11;
}
.social-youtube:focus, .social-youtube:hover {
    background-color: #e1171d;
}
.social-instagram{
    background-color:#fb3958;
}
.social-instagram.active, .social-instagram:active {
    background-color: #850d11;
}
.social-instagram:focus, .social-instagram:hover {
    background-color: #e1171d;
}
// profile image by rizwana

#page-user-profile img.profile_image{
width:100%;
height:265px;
}
#page-user-profile .profile_left_section .profile_info_top{padding-top:20px;}
#page-user-profile #page{min-height:530px;}
#page-user-profile .user_image_container {
    position: relative;
    width: 16%;
    float: left;
    min-height: 50px;
}
#page-user-profile .user_image_container a img {
    border: 3px solid #fff;
    background-color: #fff;
    position: absolute;
    top: -70px;
}
#page-user-profile #page.container-fluid{padding:0px;}
#page-user-profile .container-fluid{padding:0px;}
#page-user-profile .row {margin-left: auto;margin-right: auto;}
#page-user-profile .col-lg-12{padding:0px;}
.user_image_container .edit_profile {
    left: 43px;
    color: #FFF;
    background-color: rgba(86, 86, 86, 0.58);
    width: 120px;
    font-size: 14px;
    text-align: center;
    position: absolute;
    bottom: 0px;
}
#page-user-profile .profile_left_section>.col-md-10>.profile_top_containers {
    padding: 0px;
    height: 95px;
    overflow: hidden;
}

// course view by rizwana
#page-course-view-tabtopics section#region-main div.action-menu {
    margin-top: 0px;
    margin-right: 0px;
}
body#page-course-view-tabtopics .custom_course_image img {
    border-radius: 7px;
    margin-bottom:20px;
}
body#page-course-view-tabtopics .custom_course_name {
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 26px;
    margin-top: 0px;
}
body#page-course-view-tabtopics .custom_course_detail {
padding:0px;
margin:0px;
}
.block>.card-block, body#page-my-index .card.card-block, body#page-my-index .card .card-block {
    padding: 0px;
}
.block>.card-block .card-text.content {
    padding: 0px 1.25em 1.25em;
}
.card.card-block, .card .card-block, header#page-header .card {
    border: none;
}
// course index
.course_category_tree .category>.info {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);    
    margin: 3px 0;
    padding: 3px 18px;
}
#page-course-index div[role=main]{background-color: #f6f6f6;}
#page-course-index .card.card-block{background-color: #f6f6f6;}
.region_main_settings_menu_proxy{background-color: #f6f6f6;}

// course format view by rizwana
#page-course-view-tabtopics .card.card-block {
    padding: 20px 4%;
    border-radius: 8px !important;
    overflow: hidden;
    box-shadow: 4px 4px 5px #dedcdc;
    margin: 0px 0px 30px;
}
#page-course-view-tabtopics div.action-menu{float: right;margin-right: 10px;}
#page-course-view-tabtopics div#action-menu-1-menubar{margin-top: -44px;}
#page-course-view-tabtopics a .icon{
color:#a9a9a9;}
#page-course-view-tabtopics div#action-menu-1-menubar .dropdown.d-inline a.dropdown-toggle i.icon.fa.fa-cog.fa-fw {
    color: #3a3a3a;
    font-size: 24px;
    height: 24px;
    width: auto;
}
#page-course-view-tabtopics span.section-handle .icon {
    color: #a9a9a9;
}
#page-course-view-tabtopics span.editing_move .icon {
    color: #a9a9a9;
}
#page-course-view-tabtopics .course-content ul.section {
    margin: 0px 22px 0px 9px;
}
body#page-course-view-tabtopics .activity img.activityicon{float:right;}
// quiz view by rizwana
#page-mod-quiz-view .card.card-block{background-color: #f6f6f6;}
#page-mod-quiz-view .singlebutton{float:left;}
#page-mod-quiz-view  .p-y-1 {
     padding-top: 0 !important; 
     padding-bottom: 0 !important; 
}

//code added for tabs
.card-block .nav-tabs, ul.nav.nav-tabs, ul.ui-tabs-nav {
    border-radius: 8px 8px 0px 0px;
}

.card-block .nav-tabs .nav-link:hover,
ul.nav.nav-tabs li.nav-item>a:hover,
ul.ui-tabs-nav .ui-state-default .ui-tabs-anchor:hover,
ul.nav.nav-tabs li.ui-state-active,
ul.ui-tabs-nav .ui-state-default .ui-state-active,
.card-block .nav-tabs .nav-link.active{
    border: 0;
}
.nav.nav-tabs>li.nav-item:first-child>a,
ul.nav.nav-tabs li.nav-item:first-child>a,
ul.ui-tabs-nav .ui-state-default:first-child>a{
    border-radius: 8px 0px 0px 0px;
}
.panel-body .nav-tabs>li.nav-item:first-child>a {
  border-radius: 0px;
}
body#page-user-profile .panel .panel-body ul.nav.nav-tabs {
    border-bottom: none;
}
body#page-user-profile .panel .panel-body .tab-content .list-group-item:last-child {
    border-top: none;
}
body#page-user-profile .panel .panel-body {
    background-color: #fff;
    margin-bottom: 10px;
}
.nav.nav-tabs>li.nav-item {
    margin-bottom: 0px;
}
body#page-site-index.notloggedin div#region-main-box section#region-main .card.card-block {
    min-height: 0px;
}
//div[role="main"]{padding:10px; overflow-x:hidden;}

//Code added for Marketings Spots by Raghuvaran
.marketing_spots_container {
    padding: 20px 5%;
    margin:auto;
}
.marketing_spots_container .div-section {
  border-radius: 8px !important;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 4px 4px 5px #dedcdc;
  border: 1px solid #ddd;
  min-height: 24pc;
  max-height: 24pc;
  overflow: hidden;
}
.marketing_spots_container .marketing_icon {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.marketing_spots_container .div-quote {
  padding: 10px;
  border-radius: 8px !important;
  font-size: 20px;
  color: #34495e;
}
.marketing_spots_container .ms_content_container {
  font-size: 17px;
  text-align: justify;
  margin-top: 20px;
}
//settings for textbox in themesettingsemphasize page added by Raghuvaran
div.editor_atto_toolbar button {
    color: #333;
}
div.editor_atto_toolbar button:hover {
    border: 0px solid transparent;
    color: #333;
}
div.editor_atto_toolbar button + button {
    border-left: 1px solid #ccc !important;
}
body.notloggedin div#page.container-fluid {
    padding: 0px;
}
body.notloggedin div#page.container-fluid div#page-content.row {
    width: 100%;
    margin: auto;
}

// messages page by rizwana
img.message_image{width:100%;height:265px;}
#page-message-index #page.container-fluid{padding:0px;margin:auto;}
#page-message-index #page-content.row{margin:0px;padding:15px;}
.messages_header_container{height:50px;text-align:center;border-bottom: 1px solid #dbdfff;border-bottom: 1px solid #4f94cd;padding-top: 5px;background-color: #4f94cd;}
.messaging-area-container .messaging-area .contacts-area {height: 550px;}
.messaging-area-container .messaging-area .messages-area {height: 550px;}
#page-message-index .messaging-area-container .messaging-area .contacts-area .contacts{height:402px;}
#page-message-index #maincontent {height: initial;}
#page-message-index .card.card-block{border-radius: 8px;min-height: initial;padding:0px;}
#page-message-index .messaging-area-container .messaging-area .messages .blocktime
{font-size: 15px;color:#0070a8;margin: 10px 0;font-weight: bold;}
.messaging-area-container .messaging-area .messages-area .messages .message .content.right{float:left;background: #f6f6f6;border-radius: 0px 15px 15px 15px;width:45%;border:none;font-size: 14px;}
.messaging-area-container .messaging-area .messages-area .messages .message .content.left{float:right;background:#dbf4ff;border-radius: 20px 0 20px 20px;width:45%;border:none;font-size: 14px;}
.messaging-area-container .messaging-area .messages-area .response{background-color: #dbf4ff;border-top:none;}
.messaging-area-container .messaging-area .messages-area .response .message-box .message-text-container textarea{background-color: #fff;border-radius: 8px 0px 0px 8px;}
.messaging-area-container .messaging-area .messages-area .response .message-box .send-button-container button{background: #03A9F4;color: #fff;border-radius: 0px 8px 8px 0px;text-decoration: none;}
.messages_header{font-size:2rem;color:#fff;}
#page-message-index h2{display:none;}
#page-message-index div[role=main]{padding:0px;overflow:hidden;}
#page-message-index .messaging-area-container {margin-bottom: 0px;}
#page-message-index .messaging-area-container .messaging-area .contacts-area .tabs .tab{background-color: #4f94cd;}
#page-message-index .messaging-area-container .messaging-area .contacts-area .tabs .tab{color:#fff;}
.messaging-area-container .messaging-area{border:none;}
#page-message-index #page-wrapper{background-color: #b9b9b9;}
#page-message-index .contact.selected {background-color:#f6f6f6;color: initial;}
.messaging-area-container .messaging-area .contacts-area .contacts .contact:hover{color: initial;}
.messaging-area-container .messaging-area .contacts-area .contacts .contact:hover .information .lastmessage{color: initial;}
.messaging-area-container .messaging-area .contacts-area .contacts .contact.selected .information .lastmessage{color:initial;}
.messaging-area-container .messaging-area .messages-area .response.messaging{background-color:#dbf4ff;}
.messaging-area-container .messaging-area .messages-area .response .message-box .message-text-container textarea:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    outline: none;
}
#page-message-index .contacts-area:before {content: "Messages";text-align: center;padding: 18px   77px 18px 94px;width: 100%;font-size: 24px;color: #fff;border-bottom: 1px solid #4f94cd;
    background-color: #4f94cd;}
#page-message-index .messaging-area-container .messaging-area .contacts-area .searchtextarea {
    margin-top: 12px;}
    
div.tab.tabconversations.selected {background-color: #83B4DC !important;}
div.tab.tabcontacts.selected {background-color: #83B4DC !important;}
.messaging-area-container .messaging-area .contacts-area .searchtextarea input:focus {outline: none;border-color: rgba(82,168,236,0.8);box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);}
.messaging-area-container .messaging-area .contacts-area .searchtextarea input{background-color:#fff;border-radius: 5px;border: 1px solid #ccc;}
.messaging-area-container .messaging-area .contacts-area .searchtextarea .searching input{background-color:#fff;}

#page-message-index #page-header{margin:0px;}
.popover-region-header-actions .newmessage-link{margin-right: 0px;}
.popover-region-header-actions > * {margin-left: 0px;}
#page-footer a .icon {
    color: inherit;
    margin-left: 0px !important;
}

// notifications by rizwana
#page-message-output-popup-notifications .card.card-block{border-radius: 8px;min-height: initial;padding:0px;}
#page-message-output-popup-notifications div[role=main]{padding:0px;}
#page-message-output-popup-notifications .notification-area{margin-bottom: 3px; border: none}
#page-message-output-popup-notifications .content:before {
    content: "Notifications";text-align: center;padding: 18px 78px 18px 80px;
    width: 100%;font-size: 24px;color: #fff;border-bottom: 1px solid #03a9f4;
    background-color: #03a9f4;
}
#page-message-output-popup-notifications #page-wrapper {
    background-color: #b9b9b9;
}
#page-message-output-popup-notifications #maincontent {height: initial;}
#page-message-output-popup-notifications h2{display:none;}

// quiz attempt page
.path-mod-quiz #mod_quiz_navblock .qnbutton .thispageholder {border: 1px solid #0072bc;}
.path-mod-quiz #mod_quiz_navblock .qnbutton{color:#0072bc;}
span.trafficlight:before {
    content: "\f024";
    font-family: fontAwesome;
}
#page-mod-quiz-review table.quizreviewsummary td.cell{border:none;}
#page-mod-quiz-review table.quizreviewsummary th.cell{background: #fafafa;border:none;}
#page-mod-quiz-review .card.card-block{background-color: #f6f6f6;}
#page-mod-quiz-review .que .info {
    width: 23.07692308%;
}
#page-mod-quiz-review .que .content {
    width: 74.35897436%;
    margin: 0px;
    float: right;
}
#page-mod-quiz-review #page-mod-quiz-attempt .submitbtns, #page-mod-quiz-review .submitbtns{clear:both}
#page-mod-quiz-review table.quizreviewsummary tbody tr:hover>td{background-color: #f5f5f5;}
a.qnbutton.incorrect span.trafficlight:before {
    content: "\f024";
    color: #fff;
}
a.qnbutton.correct span.trafficlight:before {
    content: "\f024";
    color: #fff;
}
body#page-mod-quiz-edit .moodle-dialogue-base .moodle-dialogue-lightbox{z-index: 1035 !important;}
body#page-mod-quiz-edit .moodle-dialogue-base .yui3-panel {
    z-index: 1036 !important;
}
//responsive code for header nav button
body .navbar-light .container-fluid.navbar-nav button.btn.pull-xs-right {
    display: none;
    margin-top: .425rem;
    background-color: #232323;
    border: 1px solid #fff;
}
@media (max-width:980px) {
    body {
        margin-left:0px;
    }
    body .navbar-light .container-fluid.navbar-nav button.btn.pull-xs-right {
        display: block;
    }
    div[data-region="drawer-toggle"] button.btn.pull-xs-left.m-r-1.btn-secondary,
    #nav-drawer.closed{
        display: none;
    }
    #nav-drawer {
        margin: 0px;
        left: inherit;
        width: 100%;
        padding: 0px;
        position: relative;
        float: left;
    }
    body.drawer-open-left{
        margin-left:inherit;
    }
    #page {
        padding-top: 60px !important;
        margin-top: 0px;
        clear: both;
    }
    #nav-drawer .list-group{
        margin-top:0px;
    }
}
//custom css classes added by Raghuvaran on 28-08-17
@media (max-width:480px) {
    #page.container-fluid {
        padding: 0px 15px;
    }
}
//code ends here
//custom css classes added by Raghuvaran on 23-08-17
.ml5{
    margin-left:5px;
}
.ml10{
    margin-left:10px;
}
.ml15{
    margin-left:15px;
}
.mt5{
    margin-top:5px;
}
.mt10{
    margin-top:10px;
}
.mt15{
    margin-top:15px;
}
.mr5{
    margin-right:5px;
}
.mr10{
    margin-right:10px;
}
.mr15{
    margin-right:15px;
}
.mb5{
    margin-bottom:5px;
}
.mb10{
    margin-bottom:10px;
}
.mb15{
    margin-bottom:15px;
}
.m5{
    margin:5px;
}
.m10{
    margin:10px;
}
.m15{
    margin:15px;
}
.pl5{
    padding-left:5px;
}
.pl10{
    padding-left:10px;
}
.pl15{
    padding-left:15px;
}
.pt5{
    padding-top:5px;
}
.pt10{
    padding-top:10px;
}
.pt15{
    padding-top:15px;
}
.pr5{
    padding-right:5px;
}
.pr10{
    padding-right:10px;
}
.pr15{
    padding-right:15px;
}
.pb5{
    padding-bottom:5px;
}
.pb10{
    padding-bottom:10px;
}
.pb15{
    padding-bottom:15px;
}
.p5{
    padding:5px;
}
.p10{
    padding:10px;
}
.p15{
    padding:15px;
}
body .breadcrumb-item + .breadcrumb-item::before, body .breadcrumb-item + .breadcrumb-item::after {
    padding-left: 0px;
    padding-right: 0px;
}
#nav-drawer .list-group .list-group-item[data-key="mycourses"] ~ a.list-group-item-action {
    padding-left: 15%;
}
#nav-drawer .list-group .list-group-item[data-key="mycourses"] ~ a.list-group-item-action> i ~ div {
    width: 80%;
}
.dropdown-menu a:first-of-type > .icon{margin-left:0px;}
.dropdown-menu .dropdown-item{padding:3px 10px;}
.form-control{border-radius: 8px;}
.navbar .popover-region{margin-top:6px;}
body#page-enrol-users .users.list-group .list-group-item-action:hover .details {
    color:#fff;
}
.user-enroller-panel .uep-search-results .user .details {
    color:#3a3a3a;
}
body#page-my-index div#myoverview_courses_view .tab-content div#myoverview_courses_view_in_progress .col-lg-6 {
    width: 100%;
}
.flt_none{float:none;margin:auto;}
#nav-drawer .list-group .list-group-item[data-key="mycourses"]:before {
    content: "\f19d";
    font-family: FontAwesome;
    padding-left: 0px;
    font-size: 20px;
    color: #fff;
    text-shadow: none;
    min-width: 30px;
    margin: auto;
    float: left;
    margin-right: 1px;
    height:22px;
    margin-top: -4px;
}
#nav-drawer .list-group .list-group-item[data-key="mycourses"] {
    padding: 5px 5%;
}
#nav-drawer .list-group .list-group-item[data-key="mycourses"] > div {
    text-transform: uppercase;
    float: left;
}
#nav-drawer.closed .list-group .list-group-item[data-key="mycourses"]:after {
    content: "\f19d";
    font-family: FontAwesome;
    padding-left: 0px;
    font-size: 21px;
    color: #fff;
    text-shadow: none;
    min-width: 30px;
    margin: auto;
    float: right;
    height: 22px;
    margin-top: -3px;
    margin-right: -2px;
    margin-bottom: 4px;
}


body .navbar .popover-region-container {
    //top: 2.178rem;
    box-shadow: 0px 1px 15px 0px #333;
}
header span.hidden-md-down .search-input-wrapper>div {
    margin-top: 6px;
}
header span.hidden-md-down .search-input-wrapper form.search-input-form {
    margin-bottom: 4px;
    margin-top: 4px;
}
#nav-drawer.closed .list-group .list-group-item[data-key="mycourses"]:before, #nav-drawer.closed .list-group .list-group-item[data-key="mycourses"] > div {
    display: none;
}
.block_myoverview .courses-view-course-item {
    padding: .75rem 1.25rem;
}
.block_myoverview .courses-view-course-item .course-info-container .media .media-body {
    width: 100%;
    float: left;
}
body.pagelayout-course .action-menu.moodle-actionmenu {
    float: right;
}
header span.hidden-md-down .search-input-wrapper form.search-input-form>input[type="text"] {
    border: none;
}
header span.hidden-md-down .search-input-wrapper.expanded {
    background-color: #fff;
    padding: 2px 6px;
    border: 1px solid #ccc;
    margin-top: 6px;
}
//Reports page code added
body.path-grade-report-grader #region-main {
    width: 100%;
}
body.path-grade-report-grader .gradeparent {
    overflow-x: auto;
    width: 100%;
    float: left;
}
header#page-header div.card-block, header#page-header div.card {
    padding: 0px;
    margin-bottom: 0px;
}
header#page-header div.card-block .breadcrumb-button>.singlebutton>form {
    margin-bottom: 0px;
}
header.navbar .popover-region i.fa.fa-bell, header.navbar .popover-region i.fa.fa-comment,
header span.hidden-md-down .search-input-wrapper i.fa.fa-search{
    font-size: 17px;
    color: #999;
}
body.pagelayout-course #nav-drawer .list-group:not(.m-t-1)>a.list-group-item-action {
    padding-left: 15%;
}
body.pagelayout-course #nav-drawer .list-group:not(.m-t-1)>a.list-group-item-action>div {
    width: 80%;
}
body.pagelayout-course #nav-drawer .list-group:not(.m-t-1)>a.list-group-item-action>i.fa {
    font-size: 22px;
    text-align: left;
}
body.pagelayout-course #nav-drawer.closed .list-group:not(.m-t-1)>a.list-group-item-action>i.fa {
    text-align: center;
}
body#page-admin-user .no-overflow table#users>thead>tr>th, body#page-admin-user .no-overflow table#users>tbody>tr>td {
    min-width: 86px !important;
    padding: 6px 5px;
    font-size: 14px;
}
body#page-admin-user .no-overflow table#users>tbody>tr>td>a>i.icon {
    margin: auto;
}

body#page-user-profile .panel .panel-body form#exampleStandardForm .form-control {
    width: 50%;
}
body#page-user-profile .panel .panel-body form#exampleStandardForm .text-right {
    padding-left: 15px;
}
body#page-user-profile .panel .panel-body form#exampleStandardForm button#btn-save-changes {
    margin-bottom: 10px;
}
body#page-user-profile .panel-body .nav-tabs .nav-item a.nav-link>i.icon {
    display: none;
}
//code for available courses on site index page written by Raghuvaran on 30-08-17
body#page-site-index .courses.frontpage-course-list-all .coursebox {
    border: 1px solid #c8c8c8;
    float: left;
    min-width: 24%;
    margin: 15px .5%;
    min-height: 350px;
    max-height: 350px;
    overflow: hidden;
    border-bottom: 5px solid #37554b;
}
body#page-site-index .courses.frontpage-course-list-all {
    position: relative;
    float: left;
    display: inline-flex;
    display: -webkit-inline-flex;
    overflow: hidden;
    width: 100%;
}
body#page-site-index .courses.frontpage-course-list-all .coursebox:hover {
    border: 1px solid #80a2c5;
    border-bottom: 10px solid #37554b;
}
body#page-site-index .courses.frontpage-course-list-all .coursebox .courseimage,
body#page-site-index .courses.frontpage-course-list-all .coursebox .summary {
    width: 100%;
    float: left;
    margin: auto;
}
body#page-site-index div#frontpage-course-list>h2 {
    text-align: left;
    color: #0072bc;
}
body#page-site-index .courses.frontpage-course-list-all .coursebox h3.coursename {
    border-bottom: 3px solid #37554b;
    width: 60%;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 10px 5px 0px;
    margin-top: 0px;
    margin-left: 0px;
    max-height: 22px;
    overflow: hidden;
}
body#page-grade-report-grader-index form>div .initialbar {
    width: 73%;
    margin: auto;
}
@media (min-width:768px) {
    [data-region="blocks-column"],
    div#page > header#page-header > .col-xs-12.p-a-1{
        padding-right: 0px !important;
    }
    div#page-content div#region-main-box.col-xs-12 {
        padding-left: 0px;
        padding-right: 0px;
    }
    div#page>header#page-header>.col-xs-12.p-a-1, div#page>header#page-header>.col-xs-12.p-a-1 div#page-navbar .breadcrumb-nav {
        padding-left: 0px !important;
    }
}
@media (max-width:767px) {
    [data-region="blocks-column"] {
        padding-left: 0px;
        padding-right: 0px;
    }
}
@-moz-document url-prefix() {
    #nav-drawer .list-group a.list-group-item{
        display:inline-flex;
    }
    #nav-drawer.closed .list-group a.list-group-item{
        display:inherit;
    }
}
.block .block-controls {margin-right:7px;}
.ui-draggable .ui-dialog-titlebar{border-bottom: 1px solid #e5e5e5;}
.ui-dialog .ui-dialog-title{margin-bottom: 20px;}
.ui-dialog .ui-dialog-titlebar-close{top:30% !important}